aiohttp==3.9.3
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.3.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
babel==2.16.0
beautifulsoup4==4.12.3
black==24.10.0
bleach==6.2.0
blinker==1.7.0
blis==0.7.11
bs4==0.0.2
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.16.0
cmake==3.30.5
colorama==0.4.6
comm==0.2.2
confection==0.1.4
contourpy==1.2.1
cryptography==42.0.5
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.4
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.1
faiss-cpu==1.8.0
Faker==24.8.0
fastjsonschema==2.21.1
favicon==0.7.0
filelock==3.16.1
flake8==7.1.1
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.9.0
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.36.0
google-auth-oauthlib==1.2.1
greenlet==3.0.3
gspread==6.1.4
h11==0.14.0
htbuilder==0.6.2
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.22.2
idna==3.10
imbalanced-learn==0.12.4
imblearn==0.0
importlib-metadata==7.0.1
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.0.3
joblib==1.3.2
json5==0.10.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaleido==0.2.1
kiwisolver==1.4.5
langchain==0.1.13
langchain-community==0.0.30
langchain-core==0.1.37
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.1.38
lightgbm==4.5.0
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.1
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
murmurhash==1.0.10
mypy-extensions==1.0.0
mysql-connector==2.2.9
nbclient==0.10.1
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.1
nibabel==5.3.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
openai==1.14.3
opencv-python==4.10.0.84
openpyxl==3.1.5
orjson==3.10.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pexpect==4.9.0
piazza-api==0.14.1
pillow==10.4.0
platformdirs==4.3.6
plotly==5.24.1
praw==7.7.1
prawcore==2.4.0
preshed==3.0.9
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==15.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydeck==0.8.1b0
pyflakes==3.2.0
Pygments==2.17.2
pymdown-extensions==10.7.1
PyMySQL==1.1.0
pyparsing==3.1.2
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2024.2
PyYAML==6.0.1
pyzmq==26.2.0
referencing==0.33.0
regex==2023.12.25
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
selenium==4.19.0
Send2Trash==1.8.3
sentence-transformers==2.6.1
setuptools==75.1.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.27
sqlparse==0.4.4
srsly==2.4.8
st-annotated-text==4.0.1
stack-data==0.6.3
statsmodels==0.14.2
streamlit==1.31.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.13.3
tenacity==8.2.3
tensorboardX==2.6.2.2
terminado==0.18.1
thinc==8.2.3
threadpoolctl==3.4.0
tinycss2==1.4.0
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.1
torch==2.2.2
torchinfo==1.8.0
torchvision==0.17.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
transformers==4.39.2
trio==0.25.0
trio-websocket==0.11.1
typer==0.9.0
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
update-checker==0.18.0
uri-template==1.3.0
urllib3==2.2.3
validators==0.22.0
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webcolors==24.11.1
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.44.0
widgetsnbextension==4.0.13
wsproto==1.2.0
xgboost==2.1.2
yarl==1.9.4
zipp==3.17.0
